*{
  margin:0;
  padding:0;
}

html,body{
  height:100%;
  margin-bottom:10px !important;
}

#text-section{
  min-height:100vh;
  height:auto;
  width:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  background-image: url("https://i.pinimg.com/originals/c7/42/88/c742883e33b6a56efcc7c9fd0a6ffa4c.gif");
}

#text-area{
  margin:3%;
  padding:3%;
  display:flex;
  font-size:3.4vh;
  flex-direction:column;
  background:pink;
  min-height:70vh;
  gap:2.5vh;
  border:0.5vh solid #957698;
}

h1,h2{
  font-family:Bebas Neue;
  font-size:6vw;
}

p{
  font-family:Roboto, sans-serif;
  font-weight:900;
}

.highlight {
  color: #a080a3;
  text-shadow: 0.2vw 0.2vw 0 #000, -0.1vw -0.1vw 0 #000, 0.1vw -0.1vw 0 #000,
  -0.1vw 0.1vw 0 #000, 0.1vw 0.1vw 0 #000;
  letter-spacing:0.3vw;
}

#img-section{
  padding:100px 0;
  width:100%;
  display:flex;
  justify-content:center;
  align-items:center;
	flex-direction: column;
}

.special{
	transition: all .3s ease-in-out;
}

.special:hover{
  font-size:7vw;
}

#img-area{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	grid-gap: 4rem;
	margin-top: 50px;
	width: 100%;
	max-width: 100vh;
	align-items: center;
	justify-items: center;

}
img {
	width: 100%;
	height: auto;
	max-width: 23vw;
	border: 1px solid black;
	transition: all .1s ease-out;
}

img:hover {
	transform: scale(1.05);
}

h2{
  text-align:center;
}


